<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Scores</title>
    <style>
    table th, td{
       border: 1px solid black; 
    }
    </style>
</head>
<body>
    <h1>Daftar Nilai Siswa</h1>
    <table style="width : 50%">
        <tr>
            <th>name</th>
            <th>score</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student['name']}}</td>
            <td>{{student['score']}}</td>
        </tr>
        {%endfor%}
    </table>
        <!--<ul>
            {% for student in students %}
                <li>
                    Nama: {{ student['name'] }} - Nilai: {{ student['score'] }}
                    {% if student['score'] > 90 %}
                        - Congratulations
                    {% elif student['score'] >= 76 %}
                        - Very good
                    {% else %}
                        - Maaf, Anda belum lulus
                    {% endif %}
                </li>
            {% endfor %}
        </-ul>-->
</body>
</html>